/* src/pages/Home.css */
.home-container {
  height: 100vh;
  background-image: url("C:\Users\Admin\Desktop\Library\client\public\images\library.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: brightness(0.6);
  position: relative;
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5); /* dark overlay */
  z-index: 0;
}

.home-container > div {
  z-index: 1;
}
